<div class="page-header">
  <h3 class="page-title">
    Add new employee  </h3>
</div>

<div class="row">
  <div class="col-md-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        
        <form  class="forms-sample" #userForm="ngForm" >

          {{userForm.value | json}}
          <hr/>
          {{userModel | json}}
          <div class="form-group row">
            <label for="topic" class="col-sm-3 col-form-label">Topic</label>
            <div class="col-sm-9">
              <select class="form-control form-control-sm" id="exampleFormControlSelect3" name="topic" [(ngModel)]="userModel.topic">
                <option value="">Select topics</option>
                <option *ngFor="let i of topics">{{i}}</option>
                
              </select>
            </div>
          </div>
          <div class="form-group row">
            <label for="topic" class="col-sm-3 col-form-label">Product</label>
            <div class="col-sm-9">
              <select class="form-control form-control-sm" id="exampleFormControlSelect3" name="product" [(ngModel)]="userModel.product">
                <option value="">Select Products</option>
                <option *ngFor="let i of products">{{i}}</option>
                
              </select>
            </div>
          </div>
          <div class="form-group row">
            <label for="topic" class="col-sm-3 col-form-label">Questions</label>
            <div class="col-sm-9">
              <select class="form-control form-control-sm" id="exampleFormControlSelect3" name="question" [(ngModel)]="userModel.question">
                <option value="">Select questions</option>
                <option *ngFor="let i of questions">{{i}}</option>
                
              </select>
            </div>
          </div>
          <div class="form-group row">
            <label for="topic" class="col-sm-3 col-form-label">Title</label>
            <div class="col-sm-9">
            
              <input type="text" class="form-control" id="exampleInputCity1" placeholder="Add Title" name="title" [(ngModel)]="userModel.title">
            </div>
          </div>
          <div class="form-group row">
            <label for="topic" class="col-sm-3 col-form-label">Additional Informations</label>
            <div class="col-sm-9">
             
              <textarea class="form-control" id="exampleTextarea1" rows="4" name="content" [(ngModel)]="userModel.content"></textarea>
            </div>
          </div>
          
          <button type="submit" class="btn btn-gradient-primary mr-2">Submit</button>
          <button class="btn btn-light">Cancel</button>
        </form> 
      </div>
    </div>
  </div>
</div>
 
 
 
  
  