<div class="d-flex align-items-center auth px-0">
  <div class="row w-100 mx-0">
    <div class="col-lg-4 mx-auto">
      <div class="auth-form-light text-left py-5 px-4 px-sm-5">
        <div class="brand-logo">
          <img src="assets/images/hr.jpg" alt="logo" style="width: 237px; margin-left: 50px;">
        </div>
        
        <form class="pt-3">
         
          <div class="form-group">
            <input type="email" class="form-control form-control-lg" id="exampleInputEmail1" placeholder="Email">
          </div>
         
          <div class="form-group">
            <input type="password" class="form-control form-control-lg" id="exampleInputPassword1" placeholder="Password">
          </div>
         
          <div class="mt-3">
            <a class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn" routerLink="/dashboard">LOGIN</a>
          </div>
          <div class="text-center mt-4 font-weight-light">
            Forget Password? <a routerLink="/login" class="text-primary">click here</a>
          </div>
        </form>

        <div class="nav-profile-image">
          <img _ngcontent-kiq-c113="" _ngcontent-gie-c105="" src="assets/images/logo.png" alt="profile" style="margin-top: -61px;height: 231px;width: 211px;margin-left: 50px;">
        </div>
      </div>
    </div>
  </div>
</div>